<h3>All Students of Fencing Club</h3>


<% @students.each do |student| %>
<fieldset>
	<p><strong>Full Name:</strong> <%= student.full_name %></p>
	<p><strong>Age:</strong> <%= student.age %></p>
	<P><strong>Weapon:</strong> <%= student.weapon %></p>
</fieldset>
<br>
<% end %>
