<center><h2><%= @student.full_name%>'s Homepage</h2></center>

<h3>Lessons This Week: </h3>

<% @student.lessons.each do |lesson| %>
<p>Coach: <%= lesson.coach.name %></p>
<p>Date: <%= lesson.date.strftime(" %A, %b %e at %l:%m %p")%></p>
<% end %>