<h2>Lessons</h2>

<% @lessons.each do |lesson| %>
<fieldset>
<p>Lesson Date: <%= link_to lesson.date.strftime(" %A, %b %e at %l:%m %p"), lesson_path(lesson) %></p>
<p>Coach Name: <%= lesson.coach.name %></p>
<p>Student Name: <%= lesson.student.full_name %>
</fieldset>
<br>
<% end %>