<p><%= @lesson.date.strftime("%A, %b %d, %Y at %l:%M %p")%></p>
<p><%= link_to @lesson.coach.name, coach_path(@lesson.coach) %></p>

<% a = Time.now.hour %>
<% if @lesson.date.hour == a %>
	<%= link_to "Take This Lesson", lesson_path(@lesson), method: :delete %>
	<% end %>
<br>
<%= link_to "Return to My Homepage", student_path(session[:student_id]) %>