<p><%= @lesson.date.strftime("%A, %d %b %Y %l:%M %p")%></p>
<p><%= link_to @lesson.coach.name, coach_path(@lesson.coach) %></p>

<% if @lesson.date == Time.current %>
	<%= button_to "Take This Lesson", lesson_path(@lesson), method: :delete %>
	<% end %>
<br>
<%= link_to "Return to My Homepage", student_path(session[:student_id]) %>