<h2><center>Welcome to the Fencing Club's Homepage</center></h2>

<center><h3><%= link_to "Get to Know Our Coaches", coaches_path %></h3></center>

<center><%= link_to "Log In", root_path %></center>

<br>

<center><%= link_to "Sign Up as Student", new_student_path %></center>


